@model VSMS.Web.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="AppId" value="@Model.Application.AppId" />
            <input type="hidden" name="SubmissionDate" value="@Model.Application.SubmissionDate" />
            
            <div class="form-group">
                <label asp-for="Application.VolunteerId" class="control-label">Volunteer</label>
                <select name="VolunteerId" id="VolunteerId" class="form-control" asp-items="Model.Volunteers">
                    @if (Model.Application.VolunteerId == Guid.Empty)
                    {
                        <option value="">-- Select Volunteer --</option>
                    }
                    else
                    {
                        <option value="@Model.Application.VolunteerId" selected>@Model.Application.Volunteer?.Name</option>
                    }
                </select>
                <span asp-validation-for="Application.VolunteerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.OpportunityId" class="control-label">Opportunity</label>
                <select name="OpportunityId" id="OpportunityId" class="form-control" asp-items="Model.Opportunities">
                    @if (Model.Application.OpportunityId == Guid.Empty)
                    {
                        <option value="">-- Select Opportunity --</option>
                    }
                    else
                    {
                        <option value="@Model.Application.OpportunityId" selected>@Model.Application.Opportunity?.Title
                        </option>
                    }
                </select>
                <span asp-validation-for="Application.OpportunityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Status" class="control-label"></label>
                <input name="Status" id="Status" value="@Model.Application.Status" class="form-control" />
                <span asp-validation-for="Application.Status" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
