@model IEnumerable<VSMS.Web.Models.Opportunity>

@{
    ViewData["Title"] = "Opportunities";
}

<h1>Volunteer Opportunities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxVolunteers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxVolunteers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization!.ContactEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OpportunityId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.OpportunityId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.OpportunityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
